body{
    background-color: #F5F7FA;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.main_conteiner{
    display:flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #fff;
    margin: 40px auto;
}
/* Main content section*/
.right_conteiner{
    padding: 50px 90px;
}
.about{
    margin: 0 0 40px 0;
}
.about_profession{
    font-weight: bold;
    line-height: 17px;
    margin: 0 0 20px 0;
}
.about_name{
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 25px 0;
    
}
.about_description{
    color: #595959;
    width: 500px;

}
/* My projects section*/
.projects{
    margin: 0 0 50px 0;
}
.section_title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}
.projects_list{
    padding: 0 0 0 17px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
 
}
.projects_link{
    font-weight: normal;
    color: #e1a121;
}
.projects_text{
    font-weight: normal;
    color: #595959;
    margin-left: 5px;
}
.projects_bracket{
    padding: 0;

}
   


/* My work experience section*/

.experience{
    color: #e1a121;
}
.experience_position{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.experience_period{
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;

}
.experience_separator{
    font-size: 12px;
    line-height: 15px;
}
.experience_duties{
    color: #595959;
}
/* My education Section*/


.education h4{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color:#e1a121;
    
}
.education_faculty{
    font-weight: bold;
    line-height: 17px;
    margin: 0 0 5px 0;
}
.education_period{
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
} 

.education_separator{
    font-size: 12px;
    line-height: 15px;


}
/* Sidebar section */
.sidebar{
    background: #1E2939;
    color: #FFF;
    width:370px;
    padding: 40px 0px;
}

.contacts,
.tech-skills,
.soft-skills{
    margin: 50px 0 0 40px;
}
.sidebar_title{
     font-weight: bold;
     font-size: 22px;
     line-height: 27px;
     margin-bottom: 25px;
    }
.contact_type{
    font-weight: bold;
    margin-right: 5px;
}
.contact_link{
    opacity: 0.5;
    color: #A8A8A8;
    font-size: 16px;
}
.tech-skills_list, .soft-skills_list{
    padding: 0 0 0 13px;
}

.tech-skills_item, .soft-skills_item {
    color: #e1a121;
}
.tech-skills_text, .soft-skills_text{
    color: #FFF;
}
